body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-left: 10px;
}